/* ------------------------------------ *\
    Table des matieres
\* ------------------------------------ */

/**
* CH_0: $BASIC.............Les "resets"
* CH_1: $TYPOGRAPHIE.......Les polices de caractères et leurs tailles
* CH_2: $COULEURS..........Les couleurs des textes et des backgrounds
* CH_3: $HEADER............Le header en haut de chaque page et sa navbar
* CH_4: $FOOTER............Le footer en bas de chaque page
* CH_5: $COMPOSENTS........Les différents composents qui seront réutilisés
* CH_6: $BANNIERE..........La banniere sur la page d'accueil
* CH_7: $PANEL.............Listes d'élément. Présentés dans un cadre.
* CH_8: $SEANCE............Style d'une élément dans le cahier de texte.
* CH_9: $SPLIT.............Page de séparation entre l'isn et l'icn
*/


/* ------------------------------------ *\
    CH_0: $BASIC
\* ------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Pour toujours avoir le footer en bas de page */
/* A remplacer par un grid un jour */
.page-conteneur {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

/* permet de s'assurer que c'est le contenu et pas le header/footer qui
prenne la place dans le flexbox */
.contenu {
  flex-grow: 1;
}

.contenu {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: auto;
}

/* A améliorer corriger ?, juste dans organisation */
.article-simple {
  margin: 1em 0 4em 0;
  padding-bottom: 3em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.corps-texte {
  margin-top: 1em;
  text-align: justify;
}

.corps-texte-list {
  list-style: square;
  margin: 1em 10% 0;
}



/* ------------------------------------ *\
    CH_1: $TYPOGRAPHIE
\* ------------------------------------ */

/**
* L'idée a priori est d'avoir deux polices, une pour les titres,
* et l'autre pour les corps de texte.
* Puis la gestion des tailles de polices en dessous.
*/

/**
* Basic
*/

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.corps-texte {
  line-height: 1.5;
}


/**
* Header
*/

.logo-texte-entete {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.8em;
  text-transform: capitalize;
  font-variant: small-caps;
}

.nav-principal-lien {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
}

/**
* La banniere
*/

.banner-accueil-citation {
  font-style: italic;
  line-height: 1.5em;
}

.banner-accueil-citation::after, .banner-accueil-citation::before {
  font-size: 1.5em;
}

.banner-accueil-citation-auteur {
  font-size: 0.9em;
}

/**
* Panel
*/

.panel-header-title {
  font-size: 1.1em;
}

/**
* seance
*/

/*Le h1 des seances*/
.seance-titre {
  font-size: 1.2em;
}

.seance h2 {
  font-size: 1.1em;
}

/**
* Le split
*/

.col h1 {
  font-size: 5.5em;
  letter-spacing: 0.05em;
  font-family: 'Montserrat', cursive;
}

/* ------------------------------------ *\
    CH_2: $COULEURS
\* ------------------------------------ */

/**
* Inspiré par google material color
* Couleur principale: teal 600 #00897b
* Couleur principale plus foncée: teal #00675B
* Couleur pour accentué: deap orange 500 #FF5722
* Couleur légére: teal 50 #E0F2F1
* Couleur plus foncée pour encadré teal 50 #AEBFBE
*/

/**
* Basic
*/

p,
li,
h1,
h2 {
  /*color: rgba(0, 0, 0, 0.87);*/
  color: #1a1a1a;
}

.corps-texte-lien {
  background-image: linear-gradient(120deg, rgba(255,87,34,0.85) 0%, rgba(255,87,34,0.7) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 97%;
  color: #1a1a1a;
  transition:all 200ms;
}

.corps-texte-lien:hover {
  background-image: linear-gradient(120deg, rgba(255,87,34,0.8) 0%, rgba(255,87,34,0.55) 100%);
  background-repeat: no-repeat;
  background-size: 100% 1.1em;
  background-position: 0 94%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  transition:all 200ms;
}

/**
* Header
*/

.entete-principal {
  background: #00897B;
}

.logo-texte-entete {
  color: #FFF;
}

.nav-principal-list:hover {
  background: #00675B;
  transition: all 1s ease;
}

.nav-principal-list--actuelle:hover {
  background: inherit;
}

.nav-principal-list--actuelle {
  border-bottom: 4px solid #FF5722;
}

.nav-principal-lien {
  color: #FFF;
}

/**
* Le footer
*/

.footer-principal {
  background-color: #1D1F20;
}

.footer-principal-lien {
  color: rgba(250,250,250,0.87);
}

.footer-principal-lien:hover {
  color: #FFF;
}

/**
* La banniere
*/

.banner-accueil {
  background-color: #E0F2F1;
}

.banner-accueil-titre {
  color: rgba(0,0,0,0.8);
}

.banner-accueil-citation {
  color: rgba(0,0,0,0.75);
}

.banner-accueil-citation-auteur {
  color: rgba(0,0,0,0.7);
}

/**
* Panel
*/

.panel {
  background-color: rgb(253,253,253);
}

.panel-header,
.panel-element {
  border-color: #AEBFBE;
}

.panel-header {
  background: #E0F2F1;
}

.panel-list-file a {
  color: rgba(255,87,34,0.95);
}

.panel-list-file a:hover {
  color: #FF5722;
  text-shadow:0 1px 0 rgba(255,87,34,0.2);
}

/*
* Seance
*/

.seance-afaire {
  background-color: #E0F2F1;
  border-color: #00897B;
}

.seance-du {
  background-color: #fbe9e7;
  border-color: #FF5722;
}

.seance-header {
  border-color: #AEBFBE;
}

/**
* Le split
*/

.col-isn {
  background-color: #00897B;
}

.col-icn {
  background-color: #FF5722;
}

.col h1 {
  color: rgb(240,240,240);
}

/* ------------------------------------ *\
    CH_3: $HEADER
\* ------------------------------------ */


.entete-principal {
  flex-wrap: wrap;
  display: flex;
  /*Permet d'aggrandir l'entete qd on reduit la largeur de la page*/
  height: auto;
  justify-content: space-between;
  min-height: 5em;
  width: 100%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
     -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
      -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
       -o-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
}

.logo-entete {
  align-items: center;
  display: flex;
  margin-left: 2em;
  text-align: center;
}

/* Permet de ne pas changer le curseur au survol */
.logo-entete:hover {
  cursor: default;
}

/* Rotation du logo */
.logo-image-entete {
  display: block;
  margin-right: auto;
  margin-left: auto;
          transition: 0.50s;
  -webkit-transition: 0.50s;
     -moz-transition: 0.50s;
      -ms-transition: 0.50s;
       -o-transition: 0.50s;
}

/* Rotation du logo */
.logo-image-entete:hover {
          transition: 0.50s;
  -webkit-transition: 0.50s;
     -moz-transition: 0.50s;
      -ms-transition: 0.50s;
       -o-transition: 0.50s;
   -webkit-transform: rotate(720deg);
      -moz-transform: rotate(720deg);
        -o-transform: rotate(720deg);
       -ms-transform: rotate(720deg);
           transform: rotate(720deg);
}

.nav-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-principal-list {
  list-style-type: none;
  text-align: center;
}

.nav-principal-lien {
  display: block;
  height: 100%;
  padding: 0.8em;
  padding-top: 2em;
  width: 100%;
}


/* ------------------------------------ *\
    CH_4: $FOOTER
\* ------------------------------------ */

.footer-principal {
  display: block;
  /*flex: 1 0 auto;*/
  min-height: 6em;
  margin-top: 3em;
  padding: 2em 0 0 2em;
  /*text-align: center;*/
  width: 100%;
}

/* ------------------------------------ *\
    CH_5: $COMPOSENTS
\* ------------------------------------ */
/**
*Les icones
*/

/* Léger "hack" pour aligner les icones avec le texte */
.material-icons {
  position: relative;
  top: 0.125em;
}

/* Pour changer la taille des icones material design */
.material-icons.md-1 {
  font-size: 1em;
}

/* ------------------------------------ *\
    CH_6: $BANNIERE
\* ------------------------------------ */

.banner-accueil {
  height: auto;
  margin-top: 5em;
  padding: 3em;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
     -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
       -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: 100%;
}

.banner-accueil-citation {
  margin-top: 2em;
  text-align: right;
}

.banner-accueil-citation::after {
  content: "\201D";
}

/*Permet d'ajouter le symbole " (citation à gauche avant la citation)*/
.banner-accueil-citation::before {
  content: "\201C";
}

.banner-accueil-citation-auteur {
  text-align: right;
}


/* ------------------------------------ *\
    CH_7: $PANEL
\* ------------------------------------ */

.panel {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
     -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
      -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
       -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
  margin: 3.5em 0em;
}

.panel:first-child {
  margin-top: 0;
}

/* Enlevé car un peu moche, code conservé en cas de remords. */
/*.panel:hover {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.26);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}*/

.panel-header,
.panel-element {
  border-width: 1px;
  border-style: solid;
  padding: 0.6em;
}

.panel-element {
  border-top-style: none;
}

.panel-element:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.panel-header {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.panel-intitule {
  text-decoration: underline;
}

.panel-list {
  margin-left: 2em;
  list-style-type: none;
}

.panel-list-file {
  list-style-type: none;
}

.panel-list li::before {
  content: "- ";
}


/* ------------------------------------ *\
    CH_8: $SEANCE
\* ------------------------------------ */

.seance {
  margin-bottom: 4em;
}

.seance h2 {
}

.seance-header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 0.5em;
}

.seance-afaire,
.seance-du,
.seance-contenu {
  margin-left: 1em;
}

.seance-contenu {
  margin-bottom: 1em;
}
.seance-afaire,
.seance-du {
  border-left-style: solid;
  border-left-width: 4px;
  padding-left: 1em;
  padding-bottom: 0.4em;
}

/* ------------------------------------ *\
    CH_9: $SPLIT
\* ------------------------------------ */

.split {
  display: flex;
}

.col {
  display: flex;
  height: 100vh;
  width: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

@media screen and (max-width: 800px) {
  .col {
    width: 100%;
    height: 50vh;
  }

  .split {
    flex-direction: column;
  }
}

.col h1 {
  text-align: center;
}

.col-icn:hover {
  box-shadow: -1px 0 15px 27px rgba(0, 0, 0, 0.26);
}

.col-isn:hover {
  box-shadow: 6px 0 15px 20px rgba(0, 0, 0, 0.26);
}


.col-isn {
  float: left;
}

.col-icn {
  float: right;
}
/* Hack dès le début, pour l'ombre à gauche */
.col-isn:hover {
  position: relative;
}

/* Hack dès le début, pour l'ombre à gauche */
/* C'est mal, bouuuh ! */
.col-isn:after:hover {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px black;
  z-index: -1;
}


/* ------------------------------------ *\
  $ TS
\* ------------------------------------ */

.ts {
  position: relative;
  background: white;
}

.ts:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.08;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/50/E._Galois_Letter.jpg");
    background-repeat: no-repeat;
    background-position: 30% 20%;
        -ms-background-size: cover;
         -o-background-size: cover;
       -moz-background-size: cover;
    -webkit-background-size: cover;
            background-size: cover;
}
